<table mat-table [dataSource]="entries" class="mat-elevation-z8 entry-list">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="headword">
    <th mat-header-cell *matHeaderCellDef> Headword </th>
    <td mat-cell *matCellDef="let entry"> {{entry.headword}} </td>
  </ng-container>
  
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let entry"> {{entry.category | category | titlecase }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let entry"> <button mat-button [routerLink]="['/entries', entry.id]">View</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
