<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Headword</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries">
      <th scope="row">{{entry.id}}</th>
      <td>{{entry.headword}}</td>
      <td>{{entry.category | category | titlecase}}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="['/entries', entry.id]">View</button>
        <button type="button" class="btn btn-danger">Destroy</button>
      </td>
    </tr>
  </tbody>
</table>
